<template>
  <h2>{{ raceModel.name }}</h2>

  <p>{{ startInstant }}</p>

  <ul>
    <li v-for="pony of raceModel.ponies" :key="pony.id">{{ pony.name }}</li>
  </ul>
</template>

<script lang="ts">
import { RaceModel } from '@/models/RaceModel';
import { computed, defineComponent, PropType } from 'vue';
import parseNow from '../utils/FromNow';

export default defineComponent({
  name: 'Race',
  props: {
    raceModel: {
      type: Object as PropType<RaceModel>,
      required: true
    }
  },
  setup(props) {
    const startInstant = computed(() => parseNow(props.raceModel.startInstant));

    return { startInstant };
  }
});
</script>
